.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Garante que ocupa a tela inteira */
    padding: 20px; /* Evita que o conteúdo fique colado nas bordas em telas pequenas */
}



.botaoVoltar {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    
}

.setaVoltar {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 30px;
    left: 45px;
}

.back_button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 20px;           
    left: 20px; 
}

.back_button:hover {
    color: #ccc;
}
/* .h2{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
} */

.container {
    width: 28%;
    background-color: #3f3e3e;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: auto; /* Centraliza horizontalmente */
}


.h2 {
    margin-bottom: 25px;
    letter-spacing: 1.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.form_container {
    height: 90%;
    width: 90%;
}

.ator_image {
    width: 90%;
    height: 90%;
    max-width: 250px;
    max-height: 310px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.labelInput {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1vh;
}

.atorForm {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
}

#label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #444;
    color: white;
}


/* button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #52057B;
    color: white;
} */


.img_classificacao{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ícone1{
    width: 90%;
    height: 90%;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;

}

.ícone2{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.ícone3{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.ícone4{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.ícone5{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.ícone6{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.buto{
    background-color: #3f3e3e;
}

.add{
    padding: 10.5%;
    font-size: 85%;
    margin: 2%;
    background-color: #52057B;
    width: 95px;
    padding: 10px;
    border-radius: 7px ;
    color: rgb(253, 253, 253);
    text-align: center;
    border: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    cursor: pointer;
}

.cance{
    padding: 10.5%;
    font-size: 85%;
    margin: 2%;
    background-color: #52057B;
    width: 95px;
    padding: 10px;
    border-radius: 7px ;
    color: rgb(253, 253, 253);
    text-align: center;
    border: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    cursor: pointer;
    
}

.cance:hover {
    background-color: #7e198f;
}

.add:hover {
    background-color: #7e198f;
}

.button_group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5%;
}

.form_container input[type="text"] {
    outline: 0;
}

.form_container input[type="date"] {
    outline: 0;
}

@media screen and (max-width: 640px) {
    .atorForm {
        font-size: 11px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 50%
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 60%
    }
}