.cards {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.back_button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button:hover {
    color: #ccc;
}



.container {
    
    display: flex;
    margin-top: 15%;
    margin-left: -30%;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    background-color: #3f3e3e;
    padding: 20px;
    border-radius: 15px;
    height: max-content;
    margin-bottom: 40px;
    width: 150%; 
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    
  
  }
  
.h2 {
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.form_container {
    height: 90%;
    width: 90% ;
}

.ator_image {
    width: 90%;
    height: 90%;
    max-width: 250px;
    max-height: 310px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

#form {
    width: 100%;
}

#label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

#input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #444;
    color: white;
}

/* button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #52057B;
    color: white;
} */

.cancela {
    background-color: #52057B;
}

.img_classificacao {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ícone1,
.ícone2,
.ícone3,
.ícone4,
.ícone5,
.ícone6 {
    width: 90%;
    height: 90%;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 10px;
}

.buto {
    background-color: #3f3e3e;
}

.addd {
    padding: 3%;
    margin: 2%;
    font-size: 85%;
    background-color: #52057B;
}

.cancela {
    padding: 19.5%;
    font-size: 85%;
    background-color: #52057B;
}

.cancela:hover {
    background-color: #7e198f;
}

.addd:hover {
    background-color: #7e198f;
}

.button_group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5%;
}

.form_container input[type="text"] {
    outline: 0;
}

.form_container input[type="date"] {
    outline: 0;
}
